@import "tailwindcss";
@import "./content.scss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-family: "JetBrainsMono";
    src: url("../fonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "JetBrainsSans";
    src: url("../fonts/SuisseIntl-Regular-WebXL.woff2") format("woff2");
    font-weight: 400;
}

@supports (font-variation-settings: normal) {
    @font-face {
        font-family: "Geist";
        src: url(../fonts/Geist-VariableFont_wght.ttf)
            format("truetype-variations");
        font-weight: 100 900;
        font-style: normal;
    }
}

body {
    font-family: "JetBrainsSans", Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.container-full {
    max-width: 1440px;
}

.container {
    max-width: 1360px;
}
.btn {
    display: inline-block;
    padding: .45em .65em .5em;
    box-shadow: 0 .5em 1.5em rgba(0, 130, 255, .5);
    background-color: RGB(0, 130, 255);
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    border: 0;
    border-radius: 12px;
    transition: background-color .5s ease, box-shadow .5s ease;
}

input[type="text"].error {
    border-color: red;
}

.link {
    display: inline-block;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    transition: border;
}

.link:hover {
    border-bottom: 1px solid rgba(0, 0, 0, .7);
}